/* Hex color palette based on www.flatuicolors.com */

.turquoise { color: #1abc9c; }
.emerland { color: #2ecc71; }
.peter-river { color: #3498db; }
.amethyst { color: #9b59b6; }
.wet-asphalt { color: #34495e; }
.green-sea { color: #16a085; }
.nephritis { color: #27ae60; }
.belize-hole { color: #2980b9; }
.wisteria { color: #8e44ad; }
.midnight-blue { color: #2c3e50; }
.sun-flower { color: #f1c40f; }
.carrot { color: #e67e22; }
.alizarin { color: #e74c3c; }
.clouds { color: #ecf0f1; }
.concrete { color: #95a5a6; }
.orange { color: #f39c12; }
.pumpkin { color: #d35400; }
.pomegranate { color: #c0392b; }
.silver { color: #bdc3c7; }
.asbestos { color: #7f8c8d; }

@turquoise: #1abc9c;
@emerland: #2ecc71;
@peter-river: #3498db;
@amethyst: #9b59b6;
@wet-asphalt: #34495e;
@green-sea: #16a085;
@nephritis: #27ae60;
@belize-hole: #2980b9;
@wisteria: #8e44ad;
@midnight-blue: #2c3e50;
@sun-flower: #f1c40f;
@carrot: #e67e22;
@alizarin: #e74c3c;
@clouds: #ecf0f1;
@concrete: #95a5a6;
@orange: #f39c12;
@pumpkin: #d35400;
@pomegranate: #c0392b;
@silver: #bdc3c7;
@asbestos: #7f8c8d;