// dimensions

@headerHeight: 50px;
@panelWidth: 200px;

#menu,
#header,
#tools,
#content {
  position: fixed;
	-webkit-transition: @defaultTransition;
	-moz-transition: @defaultTransition;
	-ms-transition: @defaultTransition;
	-o-transition: @defaultTransition;
	transition: @defaultTransition;
}

#menu,
#header,
#tools {
  height: @headerHeight;
  background: @mediumColor;
  color: white;
}

#menu,
#tools {
  height: 100vh;
}

#menu {
  z-index: 2;
  float: left;
  width: @panelWidth;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: block;
      padding: 10px;
      color: white;
      white-space: nowrap;
			-webkit-transition: @defaultTransition;
			-moz-transition: @defaultTransition;
			-ms-transition: @defaultTransition;
			-o-transition: @defaultTransition;
			transition: @defaultTransition;

      .glyphicon {
        font-size: 1.5em;
        text-align: center;
        color: white;
        height: 30px;
        position: relative;
        top: 5px;
				/*-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;*/
      }

      .menuItem {
        text-align: left;
        display: inline-block;
        position: relative;
        padding-left: 10px;
        text-transform: uppercase;
      }

      .menuLinks();
    }
  }
}

.menu-opened {
  left: 0;
}

.menu-closed {
  left: -@panelWidth;
}

#header {
  z-index: 1;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;

  /*.logo {
    font-weight: 800;
    font-size: 1em;

    span { color: @red; }
  }*/

	.logo {
		display: block;
		height: 50px;
		background: url('../images/continental.svg') no-repeat center;
		background-size: 150px;
	}

  .glyphicon {
    font-size: 1.25em;
  }

  .left,
  .right {
    display: block;
    margin: 0;
  }

  .left {
    float: left;
    width: @headerHeight;

    /*.logo {
      display: none;
    }*/

		.logo {
			display: block;
			height: @headerHeight;
			background: url('../images/continental.svg') no-repeat center;
			background-size: 90%;
		}
  }

  .right {
    display: block;
    width: @headerHeight * 2;

    #user {
      display: none;
    }
  }

  .center {
    flex: 10;
    text-align: center;
    line-height: @headerHeight;
    text-transform: uppercase;

    #search {

      input[type="search"] {
        -webkit-appearance: none;
        border: 0;
        outline: 0;
        padding: 8px;
        width: 100%;
        height: @headerHeight;
        font-weight: 300;
        font-size: 1.25em;
        background: @mediumColor;
        color: white;
      }

      ::-webkit-input-placeholder {
        color: lighten(@mediumColor, 10%);
      }

      span {
        color: @lightColor;
        font-size: 2em;
        font-weight: 300;
        position: fixed;
        top: 0;
        right: 0;
        width: @headerHeight;
        height: @headerHeight;
        cursor: pointer;

        &:first-child {
          display: none;
        }
      }
    }
  }

  button {
    float: left;
    margin: 0;
    padding: 0;
    width: @headerHeight;
    height: @headerHeight;
    outline: 0;
    border: 0;
    background: @mediumColor;
    color: white;
    font-weight: 300;
    -webkit-appearance: none;

    &:active {
      background: @lightColor;
    }
  }
}

.item-center {
  left: 0;
}

.item-pushed-right {
  left: @panelWidth;
}

.item-pushed-left {
  left: -@panelWidth;
}

#tools {
  z-index: 2;
  float: right;
  width: @panelWidth;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: block;
      padding: 10px;
      color: white;
      white-space: nowrap;
			-webkit-transition: @defaultTransition;
			-moz-transition: @defaultTransition;
			-ms-transition: @defaultTransition;
			-o-transition: @defaultTransition;
			transition: @defaultTransition;

      .glyphicon {
        font-size: 1.5em;
        text-align: center;
        color: white;
        height: 30px;
        position: relative;
        top: 5px;
				-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;
      }

      .toolsItem {
        text-align: left;
        display: inline-block;
        position: relative;
        padding-left: 10px;
        text-transform: uppercase;
      }

      .menuLinks();
    }
  }
}

.tools-opened {
  right: 0;
}

.tools-closed {
  right: -@panelWidth;
}

#content {
  top: @headerHeight;
  overflow-y: scroll;
  padding: 8px;
  width: 100%;
  height: 86%;

	section {
		display: block;
		border-bottom: 1px solid @mediumColor;
	}

	h1 {
//		background: @lightColor;
		color: @lightColor;
		text-transform: uppercase;
		padding: 12px 8px;
//		text-shadow: 0 1px rgba(0,0,0,.3);
		font-size: 2em;
		font-weight: 600;
//		box-shadow: 4px 4px darken(@lightColor, 15%);
		display: inline-block;
		clear: both;
		margin-bottom: 24px / 3;
	}
}

.hide {
  display: none;
}

// chart styles

article {

  .chart {
    width: 100%;
    display: inline-block;

    h2.chart-title {
      color: @mediumColor;
      font-size: 1.6em;
			text-transform: capitalize;

      a {
        color: @lightColor;
				text-shadow: 0 1 rgba(0,0,0,.2);

        &:link,
        &:visited {

        }

        &:active,
        &:hover {
          color: darken(@lightColor, 10%);
        }
      }
    }

    select {
      -webkit-appearance: none;
      padding: 4px 9px;
      border-radius: 2px;
      background: @darkColor;
      border: 1px solid darken(@darkColor, 5%);
      color: white;
      text-transform: uppercase;
      outline: 0;
      font-size: .9em;
    }

    span {
      padding: 0 10px;
    }

    svg {
      text {
        fill: @concrete;
        font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }

      line {
        fill: red;
      }

      .nv-axis path {
        stroke: none;
      }
    }
  }
}

// calendar styles

@import 'calendar.less';

.calendar {

  table {
    // tbody tr td > div {
    //   border: 1px solid blue;
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    // }

    thead {
      color: @silver;
    }
  }
}

// userList styles

#userList {
  //font-size: 1.25em;

  tr {

    &:nth-child(odd) {
      background: @clouds;
    }

    &:nth-child(1) {
      border-radius: 2px;
      background: @lightColor;
    }

    th {
      padding: 20px;
      border: none;
      color: white;
      text-transform: uppercase;
      text-shadow: 0 1px rgba(0,0,0,0.1);
      font-weight: 900;
      font-size: 1.1em;
    }

    td {
      padding: 20px;
      border: none;
      border-radius: 2px;

      &.userName {
        font-weight: bold;
      }

      &.userAddress {
      }

      &.userStreet {
      }

      &.userCity {
      }

      &.userPhone {
      }

      &.userBirthday {
      }

      &.userEmail {
				a {
					color: @darkColor;
				}
      }
    }
  }
}

#tasks {
	thead {
		background: @lightColor;

		th {
			border-bottom: none;
			text-transform: uppercase;

			a {
				color: white;
				//text-shadow: 0 1px rgba(0, 0, 0, .2);
			}

			input[type="checkbox"] {
				position: relative;
				top: 2px;
			}
		}
	}

	tbody {

		tr {
			-webkit-transition: background .25s ease-in-out;
			-moz-transition: background .25s ease-in-out;
			-ms-transition: background .25s ease-in-out;
			-o-transition: background .25s ease-in-out;
			transition: background .25s ease-in-out;

			&:hover {
				background: lighten(@lightColor, 25%) !important;
				-webkit-transition: none;
				-moz-transition: none;
				-ms-transition: none;
				-o-transition: none;
				transition: none;
			}

			&:nth-child(even) {
				background: #eee;
			}
		}

		td {
			border-top: 1px solid #eee;

			/*input[type="checkbox"] {
				position: relative;
				top: -2px;
			}*/
		}
	}


	input[type="checkbox"] {
		-webkit-appearance: none;
		border: 1px solid #ccc;
		background: white;
		width: 16px;
		height: 16px;
		margin-left: 8px;
		//border-radius: 2px;
		outline: 0;
		-webkit-transition: background .1s ease-in-out;
		-moz-transition: background .1s ease-in-out;
		-ms-transition: background .1s ease-in-out;
		-o-transition: background .1s ease-in-out;
		transition: background .1s ease-in-out;

		&:hover {
			border-color: @lightColor;
		}

		&:checked {
			border-color: @darkColor;
			background: @lightColor;
		}
	}
}

.modal-header {
	background: @lightColor;
	color: white;

	.alert-danger {
		background: #f70800;
		border: 0;
		color: white;
		text-transform: uppercase;
		font-weight: 900;
		text-shadow: 0 1px rgba(0,0,0,.2);
	}
	.alert {
		border-radius: 0;
		margin: 12px 0;
	}
}

.modal-content {
	border-radius: 0;

//	label {
//		display: block;
//	}

	select {
		-webkit-appearance: none;
		border-right: 8px;
		border-style: solid;
		border-color: @lightColor;
		border-radius: 0;
		outline: 0;
		color: white;
		padding: 6px;
		font-weight: 300;
		background: url('../images/chevron-small-down.png') no-repeat right , @lightColor;
		font-size: 1.2em;
		margin: 12px 0;
		width: 100%;
	}

	input {
		width: 100%;
		-webkit-appearance: none;
		border: 1px solid #eee;
		padding: 12px;
		font-size: 1.2em;
		font-weight: 300;
		margin: 6px 0;
		outline: 0;
		-webkit-transition: @defaultTransition;
		-moz-transition: @defaultTransition;
		-ms-transition: @defaultTransition;
		-o-transition: @defaultTransition;
		transition: @defaultTransition;

		&:focus {
			border: 1px solid @lightColor;
		}
	}

	p {
		font-size: 1em;
		margin-bottom: 1.5em;
	}


	h1 {
		color: @mediumColor;
		text-transform: uppercase;
		font-size: 1.5em;
		font-weight: 600;
		padding-bottom: 12px;
		border-bottom: 1px solid @lightColor;
		display: block;
		margin-bottom: 24px;
	}

	label {
		display: block;
		color: @lightColor;
		font-weight: 600;
		text-transform: uppercase;
//		margin: 12px 0;
		display: block;
		padding: 0;
//		border-bottom: 1px solid @lightColor;
//		padding-bottom: 6px;
		font-size: 1em;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {

			a {
				@radius: 150px;

//				background: @lightColor;
				color: @lightColor;
//				border: 1px solid @lightColor;
				border-top: 0;
				border-right: 1px;
				border-left: 1px;
				border-bottom: 0;
				border-style: solid;
				border-color: @lightColor;
				padding: 6px;
//				margin-bottom: 4px;
				display: block;
//				text-shadow: 0 1px rgba(0, 0, 0, .3);
				text-transform: uppercase;
				font-size: .9em;
				font-weight: 600;
				cursor: pointer;
//				width: @radius;
//				height: @radius;
//				border-radius: @radius / 2;
				// background: url('../images/chevron-small-down.png') no-repeat right, @lightColor;
				-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;

				&:active,
				&:hover {
					text-decoration: none;
//					opacity: .8;
					background: @lightColor;
					color: white;
					text-shadow: 0 1px rgba(0, 0, 0, .3);
				}
			}

			&:first-child {
				a {
					border-top: 1px solid @lightColor;
				}
			}

			&:last-child {
				a {
					border-bottom: 1px solid @lightColor;
				}
			}
		}
	}

	/*h1 {
		background: @darkColor;
		color: white;
		text-transform: uppercase;
		padding: 12px 8px;
		text-shadow: 0 1px rgba(0,0,0,.3);
		font-size: 1.5em;
		font-weight: 600;
//		box-shadow: 4px 4px darken(@darkColor, 15%);
		display: block;
		clear: both;
		margin-bottom: 24px;
	}*/
}

.modal-footer {
	.btn {
		border-radius: 0;
		border: none;
		outline: 0;
		text-transform: uppercase;

		&:disabled {
			opacity: .25;
		}
	}

	.btn-primary {
		@color: #00c612;
		background: @color;
		outline: 0;

		&:active,
		&:hover {
			background: lighten(@color, 5%);
			outline: 0;
		}
	}

	.btn-default {
		@color: #008fc6;
		background: @color;
		outline: 0;
		color: white;

		&:active,
		&:hover {
			background: lighten(@color, 5%);
			outline: 0;
		}
	}

	.btn-warning{
		@color: @lightColor;
		background: @color;
		outline: 0;

		&:active,
		&:hover {
			background: lighten(@color, 5%);
			outline: 0;
		}
	}
}

/* dashboard styles */

.dashboardNavigation {
	@height: @headerHeight / 2;

	list-style: none;
	height: @height;
	padding: 0;
	margin-bottom: 20px;

	li {
		float: left;
		height: @height;

		.selected {
			border-bottom: 4px solid @lightColor;
		}

		a {
			float: left;
			height: @height * 1.5;
			line-height: @height * 1.5;
			display: inline-block;
			font-size: .8em;
			padding: 0 12px;
			width: 100%;
			text-align: left;
			text-transform: uppercase;
			color: @mediumColor;
			font-weight: 600;
			-webkit-transition: @defaultTransition;
			-moz-transition: @defaultTransition;
			-ms-transition: @defaultTransition;
			-o-transition: @defaultTransition;
			transition: @defaultTransition;

			&:active,
			&:hover {
				text-decoration: none;
				background: @lightColor;
				color: white;
				text-shadow: 0 1px rgba(0, 0, 0, .3);
			}
		}

		&:last-child {
			a {
				border-right: none;
			}
		}
	}
}

.two-columns {
	width: 100%;
//	border: 1px solid black;
	display: table;
	margin: 0;
	padding: 0;
	position: absolute;

	@pane: 49.85%;

	p {
//		background: @darkColor;
		color: @mediumColor;
		text-transform: uppercase;
		padding: 12px 0;
//		text-shadow: 0 1px rgba(0,0,0,.3);
		font-size: 1.5em;
		font-weight: 700;
//		box-shadow: 4px 4px darken(@darkColor, 15%);
		display: block;
		border-bottom: 1px solid @mediumColor;
	}

	.pane-left {
		width: @pane;
		position: relative;
		top: 0;
		display: table-cell;
//		border: 1px solid red;
		vertical-align: top;
	}

	.pane-right {
		width: @pane;
		position: relative;
		display: table-cell;
//		border: 1px solid green;
	}

	.chart {
		width: 100%;
	}
}