// dimensions
@headerHeight: 50px;
@panelWidth: 100px;

#menu,
#header,
#tools,
#content {
	position: fixed;
	-webkit-transition: @defaultTransition;
	-moz-transition: @defaultTransition;
	-ms-transition: @defaultTransition;
	-o-transition: @defaultTransition;
	transition: @defaultTransition;
}

#menu,
#header,
#tools {
	height: @headerHeight;
	background: @mediumColor;
	color: white;
}

#menu,
#tools {
	height: 100vh;
}

#menu {
	top: @headerHeight;
	left: 0;
	z-index: 2;
	width: @panelWidth / 2;
	overflow: hidden;

	&:hover {
		width: @headerHeight * 3;

		.menuItem {
			display: inline-block;
			-webkit-transition: none;
			-moz-transition: none;
			-ms-transition: none;
			-o-transition: none;
			transition: none;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		a {
			display: block;
			padding: 25px;
			height: 20px;
			color: white;
			white-space: nowrap;
			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;

			.glyphicon {
				font-size: 1.5em;
				text-align: center;
				color: white;
				position: relative;
				top: -10px;
				left: -10px;
				-webkit-transition: all 0.25s ease-in-out;
				-moz-transition: all 0.25s ease-in-out;
				-ms-transition: all 0.25s ease-in-out;
				-o-transition: all 0.25s ease-in-out;
				transition: all 0.25s ease-in-out;
				width: 20px;
				height: 20px;
				display: block;
			}

			.menuItem {
				font-size: 1em;
				text-align: left;
				line-height: 45px;
				position: relative;
				top: -42px;
				padding-left: 25px;
//				display: none;
				text-transform: uppercase;
			}

			.menuLinks();
		}
	}
}

.menu-opened {
	left: 0;
}

.menu-closed {
	left: -@panelWidth;
}

#header {
	z-index: 1;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	width: 100%;

	.logo {
		font-weight: 800;
		font-size: 2em;
		text-transform: uppercase;
		line-height: 2em;
		height: @headerHeight;

		span {
			color: @red;
		}
	}

	#menuToggle {
		display: none;
	}

	.left,
	.right {
		display: block;
		margin: 0;
	}

	.left {
		width: @headerHeight * 3;

		.logo {
			display: block;
			line-height: @headerHeight;
			text-align: left;
			margin-left: 15px;
			font-size: 1.85em;
		}
	}

	.right {
		display: block;
		width: @headerHeight;

		#searchToggle,
		#toolsToggle {
			display: none;
		}

		#user {
			display: block;
			width: @headerHeight;
			height: @headerHeight;
			position: fixed;
			right: 0;
			font-size: 1.75em;
			-webkit-transition: @defaultTransition;
			-moz-transition: @defaultTransition;
			-ms-transition: @defaultTransition;
			-o-transition: @defaultTransition;
			transition: @defaultTransition;

			img {
				@pictureWidth: @headerHeight - 20;
				width: @pictureWidth;
				border-radius: @pictureWidth / 2;
				margin: 10px;
			}

			@userNamePosX: 25px;
			@userNamePosY: -75px;

			p {
				position: relative;
				left: @userNamePosX;
				top: @userNamePosY;
				height: 100px;
				line-height: 100px;
				padding: 0;
				margin: 0;
				right: 0;
				font-size: 0.8em;
				opacity: 0;
				-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;
			}

			button {
				position: fixed;
				top: 0;
				right: 0;
				font-size: .5em;
				opacity: 0;
				-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;
			}

			&:hover {
				width: @headerHeight * 4;

				p {
					height: 100px;
					line-height: 100px;
					padding: 0;
					margin: 0;
					right: 115px;
					font-size: 0.6em;
					opacity: 1;
					width: 145px;
					position: relative;
					left: @userNamePosX;
					top: @userNamePosY;
					text-align: center;
				}

				button {
					opacity: 1;
				}
			}
		}
	}

	.center {
		flex: 10;
		text-align: center;
		line-height: @headerHeight;
		text-transform: uppercase;

		.logo {
			display: none;
		}

		#search {
			display: block;

			input[type="search"] {
				-webkit-appearance: none;
				border: 0;
				outline: 0;
				padding: 16px;
				width: 100%;
				height: @headerHeight;
				font-weight: 300;
				font-size: 1.25em;
				background: @mediumColor;
				color: white;
				-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;

				&:focus {
					background: @mediumColor;
				}
			}

//			::-webkit-input-placeholder {
//				color: @lightColor;
//			}

			span {
				color: white;
				font-size: 4em;
				font-weight: 300;
				position: fixed;
				top: 0;
				right: 0;
				width: @headerHeight;
				height: @headerHeight;
				cursor: pointer;
				display: none;
			}
		}
	}

	button {
		float: left;
		margin: 0;
		padding: 0;
		width: @headerHeight;
		height: @headerHeight;
		outline: 0;
		border: 0;
		background: @mediumColor;
		color: white;
		font-weight: 300;
		-webkit-appearance: none;

		&:active {
			background: @lightColor;
		}
	}
}

.item-center {
	left: 0;
}

.item-pushed-right {
	left: @panelWidth;
}

.item-pushed-left {
	left: -@panelWidth;
}

#tools {
	top: @headerHeight;
	right: 0;
	z-index: 2;
	width: @panelWidth / 2;

	&:hover {
		width: @panelWidth * 2;

		.toolsItem {
			display: inline-block;
			-webkit-transition: none;
			-moz-transition: none;
			-ms-transition: none;
			-o-transition: none;
			transition: none;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		a {
			display: block;
			padding: 25px;
			height: 20px;
			color: white;
			white-space: nowrap;
			-webkit-transition: @defaultTransition;
			-moz-transition: @defaultTransition;
			-ms-transition: @defaultTransition;
			-o-transition: @defaultTransition;
			transition: @defaultTransition;

			.glyphicon {
				font-size: 1.5em;
				text-align: center;
				color: white;
				position: relative;
				top: -10px;
				left: -10px;
				/*-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;*/
				width: 20px;
				height: 20px;
				display: block;
			}

			.toolsItem {
				font-size: 1em;
				text-align: left;
				line-height: 45px;
				position: relative;
				top: -42px;
				padding-left: 35px;
				display: none;
				text-transform: uppercase;
			}

			.menuLinks();

			&:active,
			&:hover {

				.menuItem {
					display: inline-block;
					-webkit-transition: none;
					-moz-transition: none;
					-ms-transition: none;
					-o-transition: none;
					transition: none;
				}
			}
		}
	}
}

.tools-opened {
	right: 0;
}

.tools-closed {
	right: -@panelWidth;
}

#content {
	top: @headerHeight;
	left: @headerHeight;
	padding: 8px;
	width: 100vw;
	height: 93%;
}

article {

	.chart {
		width: 50%;
		display: inline-block;

//		h2.chart-title {
//			color: @darkColor;
//		}
	}
}