// dimensions
@headerHeight: 100px;
@panelWidth: 100px;

#menu,
#header,
#tools,
#content {
  position: fixed;
	-webkit-transition: @defaultTransition;
	-moz-transition: @defaultTransition;
	-ms-transition: @defaultTransition;
	-o-transition: @defaultTransition;
	transition: @defaultTransition;
}

#menu,
#header,
#tools {
  height: @headerHeight;
  background: @mediumColor;
  color: white;
}

#menu,
#tools {
  height: 100vh;
}

#menu {
  width: @panelWidth;
  z-index: 2;
  // float: left;
  top: @headerHeight;
  left: 0;

  &:hover {
    width: @panelWidth * 3;

    .menuItem {
      display: inline-block;
			-webkit-transition: none;
			-moz-transition: none;
			-ms-transition: none;
			-o-transition: none;
			transition: none;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      display: block;
      padding: 25px;
      color: white;
			-webkit-transition: @defaultTransition;
			-moz-transition: @defaultTransition;
			-ms-transition: @defaultTransition;
			-o-transition: @defaultTransition;
			transition: @defaultTransition;
      white-space: nowrap;
      height: 100px;

      .glyphicon {
        font-size: 2.5em;
        text-align: center;
        color: white;
        position: relative;
        top: 5px;
        left: 5px;
				/*-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;*/
      }

      .menuItem {
        font-size: 1.25em;
        text-align: left;
        line-height: 45px;
        position: relative;
        top: -20px;
        padding-left: 75px;
        display: none;
        text-transform: uppercase;
      }

      .menuLinks();
    }
  }
}

.menu-opened {
  left: 0;
}

.menu-closed {
  left: -@panelWidth;
}

#header {
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 1;
  margin: 0;
  padding: 0;

  .logo {
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 2em;
    height: @headerHeight;

    span { color: @red; }
  }

  #menuToggle {
    display: none;
  }

  .left,
  .right {
    display: block;
    margin: 0;
  }

  .left {
    width: @headerHeight * 2;

    /*.logo {
      display: block;
      line-height: @headerHeight;
      text-align: center;
    }*/

		.logo {
			display: block;
			height: @headerHeight;
			background: url('../images/continental.svg') no-repeat center;
			background-size: 90%;
		}
  }

  .right {
    display: block;
    width: @headerHeight;

    #searchToggle,
    #toolsToggle {
      display: none;
    }

    #user {
      display: block;
      width: @headerHeight;
      height: @headerHeight;
      position: fixed;
      right: 0;
      font-size: 1.75em;
			-webkit-transition: @defaultTransition;
			-moz-transition: @defaultTransition;
			-ms-transition: @defaultTransition;
			-o-transition: @defaultTransition;
			transition: @defaultTransition;

      img {
        @pictureWidth: @headerHeight - 40;
        width: @pictureWidth;
        border-radius: @pictureWidth / 2;
        margin: 20px;
      }

			@userNamePosX: 80px;
			@userNamePosY: -100px;

      p {
        position: relative;
        left: @userNamePosX;
        top: @userNamePosY;
        height: 100px;
        line-height: 100px;
        padding: 0;
        margin: 0;
        right: 0;
        font-size: 0.8em;
        opacity: 0;
				-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;
      }

      button {
        position: fixed;
        top: 0;
        right: 0;
        font-size: .5em;
        opacity: 0;
				-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;
      }

      &:hover {
        width: 325px;

        p {
          height: 100px;
          line-height: 100px;
          padding: 0;
          margin: 0;
          right: 115px;
          font-size: 0.8em;
          opacity: 1;
          width: 145px;
          position: relative;
          left: @userNamePosX;
          top: @userNamePosY;
          text-align: center;
        }

        button {
          opacity: 1;
        }
      }
    }
  }

  .center {
    flex: 10;
    text-align: center;
    line-height: @headerHeight;
    text-transform: uppercase;

    .logo {
      display: none;
    }

    #search {
      display: block;

      input[type="search"] {
        -webkit-appearance: none;
        border: 0;
        outline: 0;
        padding: 32px;
        width: 100%;
        height: @headerHeight;
        font-weight: 300;
        font-size: 1.75em;
        background: @mediumColor;
        color: white;
				-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;

        &:focus {
          background: @mediumColor;
        }
      }

//      ::-webkit-input-placeholder {
//        color: @lightColor;
//      }

      span {
        color: white;
        font-size: 4em;
        font-weight: 300;
        position: fixed;
        top: 0;
        right: 0;
        width: @headerHeight;
        height: @headerHeight;
        cursor: pointer;
        display: none;
      }
    }
  }

  button {
    width: @headerHeight;
    height: @headerHeight;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    background: @mediumColor;
    color: white;
    font-weight: 300;
    margin: 0;
    padding: 0;
    float: left;

    &:active {
      background: @lightColor;
    }
  }
}

.item-center {
  left: 0;
}

.item-pushed-right {
  left: @panelWidth;
}

.item-pushed-left {
  left: -@panelWidth;
}

#tools {
  width: @panelWidth;
  z-index: 2;
  top: @headerHeight;
  right: 0;

  &:hover {
    width: @panelWidth * 3;

    .toolsItem {
      display: inline-block;
			-webkit-transition: none;
			-moz-transition: none;
			-ms-transition: none;
			-o-transition: none;
			transition: none;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      display: block;
      padding: 25px;
      color: white;
			-webkit-transition: @defaultTransition;
			-moz-transition: @defaultTransition;
			-ms-transition: @defaultTransition;
			-o-transition: @defaultTransition;
			transition: @defaultTransition;
      white-space: nowrap;
      height: 100px;

      .glyphicon {
        font-size: 2.5em;
        text-align: center;
        color: white;
        position: relative;
        top: 5px;
        left: 5px;
				-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;
      }

      .toolsItem {
        font-size: 1.25em;
        text-align: left;
        line-height: 45px;
        position: relative;
        top: -20px;
        padding-left: 75px;
        display: none;
        text-transform: uppercase;
      }

			.menuLinks();

      &:active,
      &:hover {

        .menuItem {
          display: inline-block;
					-webkit-transition: none;
					-moz-transition: none;
					-ms-transition: none;
					-o-transition: none;
					transition: none;
        }
      }
    }
  }
}

.tools-opened {
  right: 0;
}

.tools-closed {
  right: -@panelWidth;
}

#content {
  top: @headerHeight;
  width: 100vw;
  padding: 8px;
  left: @headerHeight;
	height: 87%;
}

article {

  .chart {
    width: 50%;
    display: inline-block;

//    h2.chart-title {
//      color: @darkColor;
//    }
  }
}