/*
  Project: SYMBOL3 PROTOTYPE
  Version: 0.0.1
  Author: Jerome Faria
  Date: March 2014
  */

// @import '../bower_components/bootstrap/less/variables.less';

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

// SETTINGS
// --------------------------------------------------
@transitionTime: .25s;
@transitionCurve: ease-in-out;
@defaultTransition: all @transitionTime @transitionCurve;

// DIMENSIONS
// --------------------------------------------------
@asideWidth: 280px;

// COLORS
// --------------------------------------------------

@import 'colors.less'; // Flat UI Colours

@darkColor: lighten(desaturate(#f76700, 10%), 10%);
@mediumColor: #333;
@lightColor: #f79800;
@darkGrey: #95a5a6;
@red: #e74c3c;

// MIXINS
// --------------------------------------------------

.menuLinks() {
	&:link,
	&:visited {

	}

	&:active,
	&:hover {
		background: @lightColor;
		color: white;
		text-decoration: none;
		text-shadow: 0 1px rgba(0,0,0,.2);

		.glyphicon {
			color: white;
			-webkit-transition: none;
			-moz-transition: none;
			-ms-transition: none;
			-o-transition: none;
			transition: none;
		}
	}
}

html,
body {
 -webkit-font-smoothing: antialiased;
 font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 min-height: 100%;
 height: 100%;
}

@import 'default.less';

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { @import 'tablet.less'; }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { @import 'desktop.less'; }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { @import 'large.less'; }