/*
  Project: SYMBOL3 PROTOTYPE
  Version: 0.0.1
  Author: Jerome Faria
  Date: March 2014
  */
/* Hex color palette based on www.flatuicolors.com */
.turquoise {
  color: #1abc9c;
}
.emerland {
  color: #2ecc71;
}
.peter-river {
  color: #3498db;
}
.amethyst {
  color: #9b59b6;
}
.wet-asphalt {
  color: #34495e;
}
.green-sea {
  color: #16a085;
}
.nephritis {
  color: #27ae60;
}
.belize-hole {
  color: #2980b9;
}
.wisteria {
  color: #8e44ad;
}
.midnight-blue {
  color: #2c3e50;
}
.sun-flower {
  color: #f1c40f;
}
.carrot {
  color: #e67e22;
}
.alizarin {
  color: #e74c3c;
}
.clouds {
  color: #ecf0f1;
}
.concrete {
  color: #95a5a6;
}
.orange {
  color: #f39c12;
}
.pumpkin {
  color: #d35400;
}
.pomegranate {
  color: #c0392b;
}
.silver {
  color: #bdc3c7;
}
.asbestos {
  color: #7f8c8d;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 100%;
  height: 100%;
}
#menu,
#header,
#tools,
#content {
  position: fixed;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#menu,
#header,
#tools {
  height: 50px;
  background: #333333;
  color: white;
}
#menu,
#tools {
  height: 100vh;
}
#menu {
  z-index: 2;
  float: left;
  width: 200px;
}
#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#menu ul a {
  display: block;
  padding: 10px;
  color: white;
  white-space: nowrap;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#menu ul a .glyphicon {
  font-size: 1.5em;
  text-align: center;
  color: white;
  height: 30px;
  position: relative;
  top: 5px;
  /*-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;*/
}
#menu ul a .menuItem {
  text-align: left;
  display: inline-block;
  position: relative;
  padding-left: 10px;
  text-transform: uppercase;
}
#menu ul a:active,
#menu ul a:hover {
  background: #f79800;
  color: white;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
#menu ul a:active .glyphicon,
#menu ul a:hover .glyphicon {
  color: white;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.menu-opened {
  left: 0;
}
.menu-closed {
  left: -200px;
}
#header {
  z-index: 1;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
  /*.logo {
    font-weight: 800;
    font-size: 1em;

    span { color: @red; }
  }*/
}
#header .logo {
  display: block;
  height: 50px;
  background: url('../images/continental.svg') no-repeat center;
  background-size: 150px;
}
#header .glyphicon {
  font-size: 1.25em;
}
#header .left,
#header .right {
  display: block;
  margin: 0;
}
#header .left {
  float: left;
  width: 50px;
  /*.logo {
      display: none;
    }*/
}
#header .left .logo {
  display: block;
  height: 50px;
  background: url('../images/continental.svg') no-repeat center;
  background-size: 90%;
}
#header .right {
  display: block;
  width: 100px;
}
#header .right #user {
  display: none;
}
#header .center {
  flex: 10;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}
#header .center #search input[type="search"] {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  padding: 8px;
  width: 100%;
  height: 50px;
  font-weight: 300;
  font-size: 1.25em;
  background: #333333;
  color: white;
}
#header .center #search ::-webkit-input-placeholder {
  color: #4d4d4d;
}
#header .center #search span {
  color: #f79800;
  font-size: 2em;
  font-weight: 300;
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
#header .center #search span:first-child {
  display: none;
}
#header button {
  float: left;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  outline: 0;
  border: 0;
  background: #333333;
  color: white;
  font-weight: 300;
  -webkit-appearance: none;
}
#header button:active {
  background: #f79800;
}
.item-center {
  left: 0;
}
.item-pushed-right {
  left: 200px;
}
.item-pushed-left {
  left: -200px;
}
#tools {
  z-index: 2;
  float: right;
  width: 200px;
}
#tools ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#tools ul a {
  display: block;
  padding: 10px;
  color: white;
  white-space: nowrap;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#tools ul a .glyphicon {
  font-size: 1.5em;
  text-align: center;
  color: white;
  height: 30px;
  position: relative;
  top: 5px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#tools ul a .toolsItem {
  text-align: left;
  display: inline-block;
  position: relative;
  padding-left: 10px;
  text-transform: uppercase;
}
#tools ul a:active,
#tools ul a:hover {
  background: #f79800;
  color: white;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
#tools ul a:active .glyphicon,
#tools ul a:hover .glyphicon {
  color: white;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.tools-opened {
  right: 0;
}
.tools-closed {
  right: -200px;
}
#content {
  top: 50px;
  overflow-y: scroll;
  padding: 8px;
  width: 100%;
  height: 86%;
}
#content section {
  display: block;
  border-bottom: 1px solid #333333;
}
#content h1 {
  color: #f79800;
  text-transform: uppercase;
  padding: 12px 8px;
  font-size: 2em;
  font-weight: 600;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
}
.hide {
  display: none;
}
article .chart {
  width: 100%;
  display: inline-block;
}
article .chart h2.chart-title {
  color: #333333;
  font-size: 1.6em;
  text-transform: capitalize;
}
article .chart h2.chart-title a {
  color: #f79800;
  text-shadow: 0 1 rgba(0, 0, 0, 0.2);
}
article .chart h2.chart-title a:active,
article .chart h2.chart-title a:hover {
  color: #c47900;
}
article .chart select {
  -webkit-appearance: none;
  padding: 4px 9px;
  border-radius: 2px;
  background: #f48536;
  border: 1px solid #f3771d;
  color: white;
  text-transform: uppercase;
  outline: 0;
  font-size: .9em;
}
article .chart span {
  padding: 0 10px;
}
article .chart svg text {
  fill: #95a5a6;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
article .chart svg line {
  fill: red;
}
article .chart svg .nv-axis path {
  stroke: none;
}
/*!
 * FullCalendar v1.6.4 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */
.fc {
  direction: ltr;
  text-align: left;
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0;
}
html .fc,
.fc table {
  font-size: 1em;
}
.fc td,
.fc th {
  padding: 0;
  vertical-align: top;
}
/* Header
------------------------------------------------------------------------*/
.fc-header td {
  white-space: nowrap;
  text-transform: uppercase;
  color: #f79800;
  height: 100px;
  padding-top: 25px;
}
.fc-header td h2 {
  font-family: 'Lato-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.fc-header-left {
  width: 25%;
  text-align: left;
  padding-left: 25px;
}
.fc-header-left .fc-corner-left,
.fc-header-left .fc-corner-right {
  border-radius: 0;
}
.fc-header-left .fc-button {
  width: 96px;
  height: 48px;
}
.fc-header-center {
  text-align: center;
}
.fc-header-right {
  width: 25%;
  text-align: right;
}
.fc-header-title {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.fc-header-title h2 {
  margin-top: 0;
  white-space: nowrap;
  line-height: 45px;
}
.fc .fc-header-space {
  padding-left: 10px;
}
.fc-header .fc-button {
  margin-bottom: 1em;
  vertical-align: top;
}
/* buttons edges butting together */
.fc-header .fc-button {
  margin-right: -1px;
}
.fc-header .fc-corner-right,
.fc-header .ui-corner-right {
  /* theme */
  margin-right: 0;
  /* back to normal */
}
/* button layering (for border precedence) */
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
  z-index: 2;
}
.fc-header .fc-state-down {
  z-index: 3;
}
.fc-header .fc-state-active,
.fc-header .ui-state-active {
  z-index: 4;
}
/* Content
------------------------------------------------------------------------*/
.fc-content {
  clear: both;
  zoom: 1;
  /* for IE7, gives accurate coordinates for [un]freezeContentHeight */
}
.fc-view {
  width: 100%;
  overflow: hidden;
}
/* Cell Styles
------------------------------------------------------------------------*/
.fc-widget-header,
.fc-widget-content {
  /* <td>, usually */
  border: 0;
}
.fc-state-highlight {
  /* <td> today cell */
  /* TODO: add .fc-today to <th> */
  background: #eee;
}
.fc-cell-overlay {
  /* semi-transparent rectangle while dragging */
  background: #f79800;
  opacity: .3;
  filter: alpha(opacity=30);
  /* for IE */
}
/* Buttons
------------------------------------------------------------------------*/
.fc-button {
  position: relative;
  display: inline-block;
  padding: 0 .6em;
  overflow: hidden;
  line-height: 1.9em;
  white-space: nowrap;
  cursor: pointer;
  width: 48px;
  height: 48px;
}
.fc-state-default {
  /* non-theme */
  border: 1px solid #f79800;
  text-shadow: none;
}
.fc-state-default.fc-corner-left {
  /* non-theme */
  border-radius: 24px;
}
.fc-state-default.fc-corner-right {
  /* non-theme */
  border-radius: 24px;
}
/*
  Our default prev/next buttons use HTML entities like &lsaquo; &rsaquo; &laquo; &raquo;
  and we'll try to make them look good cross-browser.
  */
.fc-text-arrow {
  margin: 0 .1em;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  vertical-align: baseline;
  /* for IE7 */
  line-height: 46px;
  color: #f79800;
}
.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow {
  /* for &lsaquo; &rsaquo; */
  font-weight: bold;
}
/* icon (for jquery ui) */
.fc-button .fc-icon-wrap {
  position: relative;
  float: left;
  top: 50%;
}
.fc-button .ui-icon {
  position: relative;
  float: left;
  margin-top: -50%;
  *margin-top: 0;
  *top: -50%;
}
/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
  */
.fc-state-default {
  /*background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);*/
  background: none;
  border: 1px solid #f79800;
}
.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  color: #333333;
  background-color: #f79800;
}
.fc-state-hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.fc-state-down,
.fc-state-active {
  background-image: none;
  outline: 0;
  box-shadow: initial;
  border: #f79800;
  background-color: #f79800 !important;
  color: #f79800 !important;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2) !important;
}
.fc-state-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
/* Global Event Styles
------------------------------------------------------------------------*/
.fc-event-container > * {
  z-index: 8;
}
.fc-event-container > .ui-draggable-dragging,
.fc-event-container > .ui-resizable-resizing {
  z-index: 9;
}
.fc-event {
  border: 1px solid #f79800 !important;
  /* default BORDER color */
  background-color: #f79800 !important;
  /* default BACKGROUND color */
  color: #fff;
  /* default TEXT color */
  font-size: .85em;
  cursor: default;
}
a.fc-event {
  text-decoration: none;
}
a.fc-event,
.fc-event-draggable {
  cursor: pointer;
}
.fc-rtl .fc-event {
  text-align: right;
}
.fc-event-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fc-event-time,
.fc-event-title {
  padding: 0 1px;
}
.fc .ui-resizable-handle {
  display: block;
  position: absolute;
  z-index: 99999;
  overflow: hidden;
  /* hacky spaces (IE6/7) */
  font-size: 300%;
  /* */
  line-height: 50%;
  /* */
}
/* Horizontal Events
------------------------------------------------------------------------*/
.fc-event-hori {
  border-width: 1px 0;
  margin-bottom: 1px;
}
.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
  border-left-width: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
  border-right-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* resizable */
.fc-event-hori .ui-resizable-e {
  top: 0           !important;
  /* importants override pre jquery ui 1.7 styles */
  right: -3px !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: e-resize;
}
.fc-event-hori .ui-resizable-w {
  top: 0           !important;
  left: -3px !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: w-resize;
}
.fc-event-hori .ui-resizable-handle {
  _padding-bottom: 14px;
  /* IE6 had 0 height */
}
/* Reusable Separate-border Table
------------------------------------------------------------*/
table.fc-border-separate {
  border-collapse: separate;
}
.fc-border-separate th,
.fc-border-separate td {
  border-width: 1px 0 0 1px;
}
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
  border-right-width: 1px;
}
.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
  border-bottom-width: 1px;
}
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
  border-top-width: 0;
}
/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/
.fc-grid th {
  text-align: center;
  text-transform: uppercase;
}
.fc .fc-week-number {
  width: 22px;
  text-align: center;
}
.fc .fc-week-number div {
  padding: 0 2px;
}
.fc-grid .fc-day-number {
  padding: 0 2px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: right;
}
.fc-grid .fc-other-month .fc-day-number {
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* for IE */
  /* opacity with small font can sometimes look too faded
     might want to set the 'color' property instead
     making day-numbers bold also fixes the problem */
}
.fc-grid .fc-day-content {
  clear: both;
  padding: 2px 2px 1px;
  /* distance between events and day edges */
}
/* event styles */
.fc-grid .fc-event-time {
  font-weight: bold;
}
/* right-to-left */
.fc-rtl .fc-grid .fc-day-number {
  float: left;
}
.fc-rtl .fc-grid .fc-event-time {
  float: right;
}
/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/
.fc-agenda table {
  border-collapse: separate;
}
.fc-agenda-days th {
  text-align: center;
}
.fc-agenda .fc-agenda-axis {
  width: 50px;
  padding: 0 4px;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
  font-weight: normal;
}
.fc-agenda .fc-week-number {
  font-weight: bold;
}
.fc-agenda .fc-day-content {
  padding: 2px 2px 1px;
}
/* make axis border take precedence */
.fc-agenda-days .fc-agenda-axis {
  border-right-width: 1px;
}
.fc-agenda-days .fc-col0 {
  border-left-width: 0;
}
/* all-day area */
.fc-agenda-allday th {
  border-width: 0 1px;
}
.fc-agenda-allday .fc-day-content {
  min-height: 34px;
  /* TODO: doesnt work well in quirksmode */
  _height: 34px;
}
/* divider (between all-day and slots) */
.fc-agenda-divider-inner {
  height: 2px;
  overflow: hidden;
}
.fc-widget-header .fc-agenda-divider-inner {
  background: #eee;
}
/* slot rows */
.fc-agenda-slots th {
  border-width: 1px 1px 0;
}
.fc-agenda-slots td {
  border-width: 1px 0 0;
  background: none;
}
.fc-agenda-slots td div {
  height: 20px;
}
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
  border-top-width: 0;
}
.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
  border-top-style: solid;
  border-color: #eeeeee !important;
}
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
  *border-top-style: solid;
  /* doesn't work with background in IE6/7 */
}
/* Vertical Events
------------------------------------------------------------------------*/
.fc-event-vert {
  border-width: 0 1px;
}
.fc-event-vert.fc-event-start {
  border-top-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.fc-event-vert.fc-event-end {
  border-bottom-width: 1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.fc-event-vert .fc-event-time {
  white-space: nowrap;
  font-size: 10px;
}
.fc-event-vert .fc-event-inner {
  position: relative;
  z-index: 2;
}
.fc-event-vert .fc-event-bg {
  /* makes the event lighter w/ a semi-transparent overlay  */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .25;
  filter: alpha(opacity=25);
}
.fc .ui-draggable-dragging .fc-event-bg,
.fc-select-helper .fc-event-bg {
  display: none\9;
  /* for IE6/7/8. nested opacity filters while dragging don't work */
}
/* resizable */
.fc-event-vert .ui-resizable-s {
  bottom: 0        !important;
  /* importants override pre jquery ui 1.7 styles */
  width: 100%      !important;
  height: 8px      !important;
  overflow: hidden !important;
  line-height: 8px !important;
  font-size: 11px  !important;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
}
.fc-agenda .ui-resizable-resizing {
  /* TODO: better selector */
  _overflow: hidden;
}
.fc-header-left {
  width: 25%;
  text-align: left;
}
.fc-header-left td {
  padding-left: 25px;
}
.fc-header-left .fc-button {
  border-radius: 2px;
  border: 1px solid #f79800;
  background: #f79800;
  width: 96px;
  height: 24px;
  text-align: center;
  line-height: 21.33333333px;
  color: white !important;
  font-size: .9em;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.calendar table thead {
  color: #bdc3c7;
}
#userList tr:nth-child(odd) {
  background: #ecf0f1;
}
#userList tr:nth-child(1) {
  border-radius: 2px;
  background: #f79800;
}
#userList tr th {
  padding: 20px;
  border: none;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-size: 1.1em;
}
#userList tr td {
  padding: 20px;
  border: none;
  border-radius: 2px;
}
#userList tr td.userName {
  font-weight: bold;
}
#userList tr td.userEmail a {
  color: #f48536;
}
#tasks thead {
  background: #f79800;
}
#tasks thead th {
  border-bottom: none;
  text-transform: uppercase;
}
#tasks thead th a {
  color: white;
}
#tasks thead th input[type="checkbox"] {
  position: relative;
  top: 2px;
}
#tasks tbody tr {
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -ms-transition: background 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}
#tasks tbody tr:hover {
  background: #ffcb78 !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
#tasks tbody tr:nth-child(even) {
  background: #eee;
}
#tasks tbody td {
  border-top: 1px solid #eee;
  /*input[type="checkbox"] {
				position: relative;
				top: -2px;
			}*/
}
#tasks input[type="checkbox"] {
  -webkit-appearance: none;
  border: 1px solid #ccc;
  background: white;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  outline: 0;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}
#tasks input[type="checkbox"]:hover {
  border-color: #f79800;
}
#tasks input[type="checkbox"]:checked {
  border-color: #f48536;
  background: #f79800;
}
.modal-header {
  background: #f79800;
  color: white;
}
.modal-header .alert-danger {
  background: #f70800;
  border: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.modal-header .alert {
  border-radius: 0;
  margin: 12px 0;
}
.modal-content {
  border-radius: 0;
  /*h1 {
		background: @darkColor;
		color: white;
		text-transform: uppercase;
		padding: 12px 8px;
		text-shadow: 0 1px rgba(0,0,0,.3);
		font-size: 1.5em;
		font-weight: 600;
//		box-shadow: 4px 4px darken(@darkColor, 15%);
		display: block;
		clear: both;
		margin-bottom: 24px;
	}*/
}
.modal-content select {
  -webkit-appearance: none;
  border-right: 8px;
  border-style: solid;
  border-color: #f79800;
  border-radius: 0;
  outline: 0;
  color: white;
  padding: 6px;
  font-weight: 300;
  background: url('../images/chevron-small-down.png') no-repeat right, #f79800;
  font-size: 1.2em;
  margin: 12px 0;
  width: 100%;
}
.modal-content input {
  width: 100%;
  -webkit-appearance: none;
  border: 1px solid #eee;
  padding: 12px;
  font-size: 1.2em;
  font-weight: 300;
  margin: 6px 0;
  outline: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.modal-content input:focus {
  border: 1px solid #f79800;
}
.modal-content p {
  font-size: 1em;
  margin-bottom: 1.5em;
}
.modal-content h1 {
  color: #333333;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 12px;
  border-bottom: 1px solid #f79800;
  display: block;
  margin-bottom: 24px;
}
.modal-content label {
  color: #f79800;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  padding: 0;
  font-size: 1em;
}
.modal-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.modal-content ul li a {
  color: #f79800;
  border-top: 0;
  border-right: 1px;
  border-left: 1px;
  border-bottom: 0;
  border-style: solid;
  border-color: #f79800;
  padding: 6px;
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.modal-content ul li a:active,
.modal-content ul li a:hover {
  text-decoration: none;
  background: #f79800;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.modal-content ul li:first-child a {
  border-top: 1px solid #f79800;
}
.modal-content ul li:last-child a {
  border-bottom: 1px solid #f79800;
}
.modal-footer .btn {
  border-radius: 0;
  border: none;
  outline: 0;
  text-transform: uppercase;
}
.modal-footer .btn:disabled {
  opacity: .25;
}
.modal-footer .btn-primary {
  background: #00c612;
  outline: 0;
}
.modal-footer .btn-primary:active,
.modal-footer .btn-primary:hover {
  background: #00e014;
  outline: 0;
}
.modal-footer .btn-default {
  background: #008fc6;
  outline: 0;
  color: white;
}
.modal-footer .btn-default:active,
.modal-footer .btn-default:hover {
  background: #00a1e0;
  outline: 0;
}
.modal-footer .btn-warning {
  background: #f79800;
  outline: 0;
}
.modal-footer .btn-warning:active,
.modal-footer .btn-warning:hover {
  background: #ffa412;
  outline: 0;
}
/* dashboard styles */
.dashboardNavigation {
  list-style: none;
  height: 25px;
  padding: 0;
  margin-bottom: 20px;
}
.dashboardNavigation li {
  float: left;
  height: 25px;
}
.dashboardNavigation li .selected {
  border-bottom: 4px solid #f79800;
}
.dashboardNavigation li a {
  float: left;
  height: 37.5px;
  line-height: 37.5px;
  display: inline-block;
  font-size: .8em;
  padding: 0 12px;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.dashboardNavigation li a:active,
.dashboardNavigation li a:hover {
  text-decoration: none;
  background: #f79800;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.dashboardNavigation li:last-child a {
  border-right: none;
}
.two-columns {
  width: 100%;
  display: table;
  margin: 0;
  padding: 0;
  position: absolute;
}
.two-columns p {
  color: #333333;
  text-transform: uppercase;
  padding: 12px 0;
  font-size: 1.5em;
  font-weight: 700;
  display: block;
  border-bottom: 1px solid #333333;
}
.two-columns .pane-left {
  width: 49.85%;
  position: relative;
  top: 0;
  display: table-cell;
  vertical-align: top;
}
.two-columns .pane-right {
  width: 49.85%;
  position: relative;
  display: table-cell;
}
.two-columns .chart {
  width: 100%;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #menu,
  #header,
  #tools,
  #content {
    position: fixed;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #menu,
  #header,
  #tools {
    height: 100px;
    background: #333333;
    color: white;
  }
  #menu,
  #tools {
    height: 100vh;
  }
  #menu {
    z-index: 2;
    float: left;
    width: 300px;
  }
  #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #menu ul a {
    display: block;
    padding: 25px;
    color: white;
    white-space: nowrap;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #menu ul a .glyphicon {
    font-size: 2.5em;
    text-align: center;
    color: white;
    height: 40px;
    position: relative;
    top: 5px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #menu ul a .menuItem {
    font-size: 1.25em;
    text-align: left;
    display: inline-block;
    line-height: 45px;
    position: relative;
    top: -5px;
    padding-left: 20px;
    text-transform: uppercase;
  }
  #menu ul a:active,
  #menu ul a:hover {
    background: #f79800;
    color: white;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  }
  #menu ul a:active .glyphicon,
  #menu ul a:hover .glyphicon {
    color: white;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  .menu-opened {
    left: 0;
  }
  .menu-closed {
    left: -300px;
  }
  #header {
    z-index: 1;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    /*.logo {
    font-weight: 800;
    font-size: 2em;

    span { color: @red; }
  }*/
  }
  #header .logo {
    display: block;
    height: 100px;
    background: url('../images/continental.svg') no-repeat center;
    background-size: 250px;
  }
  #header .glyphicon {
    font-size: 1.75em;
  }
  #header .left,
  #header .right {
    display: block;
    margin: 0;
  }
  #header .left {
    float: left;
    width: 100px;
  }
  #header .left .logo {
    display: none;
  }
  #header .right {
    display: block;
    width: 200px;
  }
  #header .right #user {
    display: none;
  }
  #header .center {
    flex: 10;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
  }
  #header .center #search input[type="search"] {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    padding: 32px;
    width: 100%;
    height: 100px;
    font-weight: 300;
    font-size: 1.75em;
    background: #333333;
    color: white;
  }
  #header .center #search span {
    color: #f79800;
    font-size: 4em;
    font-weight: 300;
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  #header .center #search span:first-child {
    display: none;
  }
  #header button {
    float: left;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    outline: 0;
    border: 0;
    background: #333333;
    color: white;
    font-weight: 300;
    -webkit-appearance: none;
  }
  #header button:active {
    background: #f79800;
  }
  .item-center {
    left: 0;
  }
  .item-pushed-right {
    left: 300px;
  }
  .item-pushed-left {
    left: -300px;
  }
  #tools {
    z-index: 2;
    float: right;
    width: 300px;
  }
  #tools ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #tools ul a {
    display: block;
    padding: 25px;
    color: white;
    white-space: nowrap;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #tools ul a .glyphicon {
    font-size: 2.5em;
    text-align: center;
    color: white;
    height: 40px;
    position: relative;
    top: 5px;
    /*-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;*/
  }
  #tools ul a .toolsItem {
    font-size: 1.25em;
    text-align: left;
    display: inline-block;
    line-height: 45px;
    position: relative;
    top: -5px;
    padding-left: 20px;
    text-transform: uppercase;
  }
  #tools ul a:active,
  #tools ul a:hover {
    background: #f79800;
    color: white;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  }
  #tools ul a:active .glyphicon,
  #tools ul a:hover .glyphicon {
    color: white;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  .tools-opened {
    right: 0;
  }
  .tools-closed {
    right: -300px;
  }
  #content {
    top: 100px;
    padding: 8px;
    width: 100%;
  }
  article .chart {
    width: 100%;
    display: inline-block;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #menu,
  #header,
  #tools,
  #content {
    position: fixed;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #menu,
  #header,
  #tools {
    height: 50px;
    background: #333333;
    color: white;
  }
  #menu,
  #tools {
    height: 100vh;
  }
  #menu {
    top: 50px;
    left: 0;
    z-index: 2;
    width: 50px;
    overflow: hidden;
  }
  #menu:hover {
    width: 150px;
  }
  #menu:hover .menuItem {
    display: inline-block;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #menu ul a {
    display: block;
    padding: 25px;
    height: 20px;
    color: white;
    white-space: nowrap;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #menu ul a .glyphicon {
    font-size: 1.5em;
    text-align: center;
    color: white;
    position: relative;
    top: -10px;
    left: -10px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 20px;
    height: 20px;
    display: block;
  }
  #menu ul a .menuItem {
    font-size: 1em;
    text-align: left;
    line-height: 45px;
    position: relative;
    top: -42px;
    padding-left: 25px;
    text-transform: uppercase;
  }
  #menu ul a:active,
  #menu ul a:hover {
    background: #f79800;
    color: white;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  }
  #menu ul a:active .glyphicon,
  #menu ul a:hover .glyphicon {
    color: white;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  .menu-opened {
    left: 0;
  }
  .menu-closed {
    left: -100px;
  }
  #header {
    z-index: 1;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #header .logo {
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 2em;
    height: 50px;
  }
  #header .logo span {
    color: #e74c3c;
  }
  #header #menuToggle {
    display: none;
  }
  #header .left,
  #header .right {
    display: block;
    margin: 0;
  }
  #header .left {
    width: 150px;
  }
  #header .left .logo {
    display: block;
    line-height: 50px;
    text-align: left;
    margin-left: 15px;
    font-size: 1.85em;
  }
  #header .right {
    display: block;
    width: 50px;
  }
  #header .right #searchToggle,
  #header .right #toolsToggle {
    display: none;
  }
  #header .right #user {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    font-size: 1.75em;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #header .right #user img {
    width: 30px;
    border-radius: 15px;
    margin: 10px;
  }
  #header .right #user p {
    position: relative;
    left: 25px;
    top: -75px;
    height: 100px;
    line-height: 100px;
    padding: 0;
    margin: 0;
    right: 0;
    font-size: 0.8em;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #header .right #user button {
    position: fixed;
    top: 0;
    right: 0;
    font-size: .5em;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #header .right #user:hover {
    width: 200px;
  }
  #header .right #user:hover p {
    height: 100px;
    line-height: 100px;
    padding: 0;
    margin: 0;
    right: 115px;
    font-size: 0.6em;
    opacity: 1;
    width: 145px;
    position: relative;
    left: 25px;
    top: -75px;
    text-align: center;
  }
  #header .right #user:hover button {
    opacity: 1;
  }
  #header .center {
    flex: 10;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
  }
  #header .center .logo {
    display: none;
  }
  #header .center #search {
    display: block;
  }
  #header .center #search input[type="search"] {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 50px;
    font-weight: 300;
    font-size: 1.25em;
    background: #333333;
    color: white;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #header .center #search input[type="search"]:focus {
    background: #333333;
  }
  #header .center #search span {
    color: white;
    font-size: 4em;
    font-weight: 300;
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
  }
  #header button {
    float: left;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    outline: 0;
    border: 0;
    background: #333333;
    color: white;
    font-weight: 300;
    -webkit-appearance: none;
  }
  #header button:active {
    background: #f79800;
  }
  .item-center {
    left: 0;
  }
  .item-pushed-right {
    left: 100px;
  }
  .item-pushed-left {
    left: -100px;
  }
  #tools {
    top: 50px;
    right: 0;
    z-index: 2;
    width: 50px;
  }
  #tools:hover {
    width: 200px;
  }
  #tools:hover .toolsItem {
    display: inline-block;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  #tools ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #tools ul a {
    display: block;
    padding: 25px;
    height: 20px;
    color: white;
    white-space: nowrap;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #tools ul a .glyphicon {
    font-size: 1.5em;
    text-align: center;
    color: white;
    position: relative;
    top: -10px;
    left: -10px;
    /*-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;*/
    width: 20px;
    height: 20px;
    display: block;
  }
  #tools ul a .toolsItem {
    font-size: 1em;
    text-align: left;
    line-height: 45px;
    position: relative;
    top: -42px;
    padding-left: 35px;
    display: none;
    text-transform: uppercase;
  }
  #tools ul a:active,
  #tools ul a:hover {
    background: #f79800;
    color: white;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  }
  #tools ul a:active .glyphicon,
  #tools ul a:hover .glyphicon {
    color: white;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  #tools ul a:active .menuItem,
  #tools ul a:hover .menuItem {
    display: inline-block;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  .tools-opened {
    right: 0;
  }
  .tools-closed {
    right: -100px;
  }
  #content {
    top: 50px;
    left: 50px;
    padding: 8px;
    width: 100vw;
    height: 93%;
  }
  article .chart {
    width: 50%;
    display: inline-block;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #menu,
  #header,
  #tools,
  #content {
    position: fixed;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #menu,
  #header,
  #tools {
    height: 100px;
    background: #333333;
    color: white;
  }
  #menu,
  #tools {
    height: 100vh;
  }
  #menu {
    width: 100px;
    z-index: 2;
    top: 100px;
    left: 0;
  }
  #menu:hover {
    width: 300px;
  }
  #menu:hover .menuItem {
    display: inline-block;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  #menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #menu ul a {
    display: block;
    padding: 25px;
    color: white;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    white-space: nowrap;
    height: 100px;
  }
  #menu ul a .glyphicon {
    font-size: 2.5em;
    text-align: center;
    color: white;
    position: relative;
    top: 5px;
    left: 5px;
    /*-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;*/
  }
  #menu ul a .menuItem {
    font-size: 1.25em;
    text-align: left;
    line-height: 45px;
    position: relative;
    top: -20px;
    padding-left: 75px;
    display: none;
    text-transform: uppercase;
  }
  #menu ul a:active,
  #menu ul a:hover {
    background: #f79800;
    color: white;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  }
  #menu ul a:active .glyphicon,
  #menu ul a:hover .glyphicon {
    color: white;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  .menu-opened {
    left: 0;
  }
  .menu-closed {
    left: -100px;
  }
  #header {
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  #header .logo {
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 2em;
    height: 100px;
  }
  #header .logo span {
    color: #e74c3c;
  }
  #header #menuToggle {
    display: none;
  }
  #header .left,
  #header .right {
    display: block;
    margin: 0;
  }
  #header .left {
    width: 200px;
    /*.logo {
      display: block;
      line-height: @headerHeight;
      text-align: center;
    }*/
  }
  #header .left .logo {
    display: block;
    height: 100px;
    background: url('../images/continental.svg') no-repeat center;
    background-size: 90%;
  }
  #header .right {
    display: block;
    width: 100px;
  }
  #header .right #searchToggle,
  #header .right #toolsToggle {
    display: none;
  }
  #header .right #user {
    display: block;
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0;
    font-size: 1.75em;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #header .right #user img {
    width: 60px;
    border-radius: 30px;
    margin: 20px;
  }
  #header .right #user p {
    position: relative;
    left: 80px;
    top: -100px;
    height: 100px;
    line-height: 100px;
    padding: 0;
    margin: 0;
    right: 0;
    font-size: 0.8em;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #header .right #user button {
    position: fixed;
    top: 0;
    right: 0;
    font-size: .5em;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #header .right #user:hover {
    width: 325px;
  }
  #header .right #user:hover p {
    height: 100px;
    line-height: 100px;
    padding: 0;
    margin: 0;
    right: 115px;
    font-size: 0.8em;
    opacity: 1;
    width: 145px;
    position: relative;
    left: 80px;
    top: -100px;
    text-align: center;
  }
  #header .right #user:hover button {
    opacity: 1;
  }
  #header .center {
    flex: 10;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
  }
  #header .center .logo {
    display: none;
  }
  #header .center #search {
    display: block;
  }
  #header .center #search input[type="search"] {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    padding: 32px;
    width: 100%;
    height: 100px;
    font-weight: 300;
    font-size: 1.75em;
    background: #333333;
    color: white;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #header .center #search input[type="search"]:focus {
    background: #333333;
  }
  #header .center #search span {
    color: white;
    font-size: 4em;
    font-weight: 300;
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: none;
  }
  #header button {
    width: 100px;
    height: 100px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    background: #333333;
    color: white;
    font-weight: 300;
    margin: 0;
    padding: 0;
    float: left;
  }
  #header button:active {
    background: #f79800;
  }
  .item-center {
    left: 0;
  }
  .item-pushed-right {
    left: 100px;
  }
  .item-pushed-left {
    left: -100px;
  }
  #tools {
    width: 100px;
    z-index: 2;
    top: 100px;
    right: 0;
  }
  #tools:hover {
    width: 300px;
  }
  #tools:hover .toolsItem {
    display: inline-block;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  #tools ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #tools ul a {
    display: block;
    padding: 25px;
    color: white;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    white-space: nowrap;
    height: 100px;
  }
  #tools ul a .glyphicon {
    font-size: 2.5em;
    text-align: center;
    color: white;
    position: relative;
    top: 5px;
    left: 5px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  #tools ul a .toolsItem {
    font-size: 1.25em;
    text-align: left;
    line-height: 45px;
    position: relative;
    top: -20px;
    padding-left: 75px;
    display: none;
    text-transform: uppercase;
  }
  #tools ul a:active,
  #tools ul a:hover {
    background: #f79800;
    color: white;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  }
  #tools ul a:active .glyphicon,
  #tools ul a:hover .glyphicon {
    color: white;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  #tools ul a:active .menuItem,
  #tools ul a:hover .menuItem {
    display: inline-block;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  .tools-opened {
    right: 0;
  }
  .tools-closed {
    right: -100px;
  }
  #content {
    top: 100px;
    width: 100vw;
    padding: 8px;
    left: 100px;
    height: 87%;
  }
  article .chart {
    width: 50%;
    display: inline-block;
  }
}
