// dimensions
@headerHeight: 100px;
@panelWidth: 300px;

#menu,
#header,
#tools,
#content {
  position: fixed;
	-webkit-transition: @defaultTransition;
	-moz-transition: @defaultTransition;
	-ms-transition: @defaultTransition;
	-o-transition: @defaultTransition;
	transition: @defaultTransition;
}

#menu,
#header,
#tools {
  height: @headerHeight;
  background: @mediumColor;
  color: white;
}

#menu,
#tools {
  height: 100vh;
}

#menu {
  z-index: 2;
  float: left;
  width: @panelWidth;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;


    a {
      display: block;
      padding: 25px;
      color: white;
      white-space: nowrap;
			-webkit-transition: @defaultTransition;
			-moz-transition: @defaultTransition;
			-ms-transition: @defaultTransition;
			-o-transition: @defaultTransition;
			transition: @defaultTransition;

      .glyphicon {
        font-size: 2.5em;
        text-align: center;
        color: white;
        height: 40px;
        position: relative;
        top: 5px;
				-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;
      }

      .menuItem {
        font-size: 1.25em;
        text-align: left;
        display: inline-block;
        line-height: 45px;
        position: relative;
        top: -5px;
        padding-left: 20px;
        text-transform: uppercase;
      }

      .menuLinks();
    }
  }
}

.menu-opened {
  left: 0;
}

.menu-closed {
  left: -@panelWidth;
}

#header {
  z-index: 1;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;

  /*.logo {
    font-weight: 800;
    font-size: 2em;

    span { color: @red; }
  }*/

	.logo {
		display: block;
		height: @headerHeight;
		background: url('../images/continental.svg') no-repeat center;
		background-size: 250px;
	}

  .glyphicon {
    font-size: 1.75em;
  }

  .left,
  .right {
    display: block;
    margin: 0;
  }

  .left {
    float: left;
    width: @headerHeight;

    .logo {
      display: none;
    }
  }

  .right {
    display: block;
    width: @headerHeight * 2;

    #user {
      display: none;
    }
  }

  .center {
    flex: 10;
    text-align: center;
    line-height: @headerHeight;
    text-transform: uppercase;

    #search {

      input[type="search"] {
        -webkit-appearance: none;
        border: 0;
        outline: 0;
        padding: 32px;
        width: 100%;
        height: @headerHeight;
        font-weight: 300;
        font-size: 1.75em;
        background: @mediumColor;
        color: white;
      }

//      ::-webkit-input-placeholder {
//        color: @lightColor;
//      }

      span {
        color: @lightColor;
        font-size: 4em;
        font-weight: 300;
        position: fixed;
        top: 0;
        right: 0;
        width: @headerHeight;
        height: @headerHeight;
        cursor: pointer;

        &:first-child {
          display: none;
        }
      }
    }
  }

  button {
    float: left;
    margin: 0;
    padding: 0;
    width: @headerHeight;
    height: @headerHeight;
    outline: 0;
    border: 0;
    background: @mediumColor;
    color: white;
    font-weight: 300;
    -webkit-appearance: none;

    &:active {
      background: @lightColor;
    }
  }
}

.item-center {
  left: 0;
}

.item-pushed-right {
  left: @panelWidth;
}

.item-pushed-left {
  left: -@panelWidth;
}

#tools {
  z-index: 2;
  float: right;
  width: @panelWidth;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;


    a {
      display: block;
      padding: 25px;
      color: white;
      white-space: nowrap;
			-webkit-transition: @defaultTransition;
			-moz-transition: @defaultTransition;
			-ms-transition: @defaultTransition;
			-o-transition: @defaultTransition;
			transition: @defaultTransition;

      .glyphicon {
        font-size: 2.5em;
        text-align: center;
        color: white;
        height: 40px;
        position: relative;
        top: 5px;
				/*-webkit-transition: @defaultTransition;
				-moz-transition: @defaultTransition;
				-ms-transition: @defaultTransition;
				-o-transition: @defaultTransition;
				transition: @defaultTransition;*/
      }

      .toolsItem {
        font-size: 1.25em;
        text-align: left;
        display: inline-block;
        line-height: 45px;
        position: relative;
        top: -5px;
        padding-left: 20px;
        text-transform: uppercase;
      }

      &:link,
      &:visited {

      }

			.menuLinks();
    }
  }
}

.tools-opened {
  right: 0;
}

.tools-closed {
  right: -@panelWidth;
}

#content {
  top: @headerHeight;
  padding: 8px;
  width: 100%;
}

article {

  .chart {
    width: 100%;
    display: inline-block;

//    h2.chart-title {
//      color: @darkColor;
//    }
  }
}