<header id="header" class="item-center">
  <section class="left">
    <button id='menuToggle'>
      <span class="glyphicon glyphicon-align-justify"></span>
    </button>
    <div class="logo">symbol<span>3</span></div>
  </section>
  <section class="center">
    <div class="logo">symbol<span>3</span></div>
    <div id="search"  ng-class="isMobile">
      <form>
        <span class="glyphicon glyphicon-search"></span>
        <input type="search" placeholder="search for profiles, tasks or dates...">
        <span>&times;</span>
      </form>
    </div>
  </section>
  <section class="right">
    <button id='searchToggle'>
      <span class="glyphicon glyphicon-search"></span>
    </button>
    <button id='toolsToggle'>
      <span class="glyphicon glyphicon-wrench"></span>
    </button>
    <div id="user">
      <img src="images/user.jpg" alt="">
      <p>Tracy Livia</p>
      <button>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </button>
    </div>
  </section>
</header>