<section id="menu" class="menu-closed" ng-controller="MenuCtrl">
  <ul>
    <li ng-repeat="item in menuItems">
      <a href="{{item.url}}">
        <span class="{{item.icon}}"></span>
        <span class="menuItem">{{item.label}}</span>
      </a>
    </li>
  </ul>
</section>