<section id="tools" class="tools-closed" ng-controller="ToolsCtrl" ng-hide="toolsItems.length == 0">
  <ul>
    <li ng-repeat="item in toolsItems">
      <a href=""><span class="{{item.icon}}"></span>
        <span class="toolsItem">{{item.label}}</span>
      </a>
    </li>
  </ul>
</section>