<section>
	<h1 ng-if="dataSet.indexOf('workingtime-') < 0 && dataSet.indexOf('timesheetstatus-') < 0">Time spent</h1>
	<h1 ng-if="dataSet.indexOf('timesheetstatus-') === 0">Timesheet Status</h1>
	<h1 ng-if="dataSet.indexOf('workingtime-') === 0">Working Time</h1>
</section>

<ul class="dashboardNavigation">
  <li><a href="#/dashboard">Overview</a></li>
  <li><a href="#/charts/teams">Per Team</a></li>
  <li><a href="#/charts/customers">Per Customer</a></li>
  <li><a href="#/charts/devphases">Per Development Phase</a></li>
  <li><a href="#/charts/projects">Per Project</a></li>
  <li><a href="#/charts/workingtime-teams">Working Time</a></li>
  <li><a href="#/charts/timesheetstatus-teams">Timesheet Status</a></li>
</ul>

<div class="two-columns">
	<div class="pane-left">
		<div class="chart">
			<h2 class="chart-title">{{overview.title}}</h2>
			<nvd3-multi-bar-chart
				ng-if="overview.data[0].values.length < 5 && dataSet.indexOf('workingtime') < 0 && dataSet.indexOf('timesheetstatus') < 0"
				id="{{'chart' + $index}}"
				data="overview.data"
				margin="{left:40,bottom:20,top:20}"
				height="300"
				showXAxis="true"
				showYAxis="true"
				interactive="true"
				color="colorFunction()"
				legendColor="colorFunction()"
				stacked="true"
				>
			</nvd3-multi-bar-chart>
			<nvd3-multi-bar-horizontal-chart
				ng-if="(overview.data[0].values.length >= 5 || dataSet.indexOf('workingtime') >= 0) && dataSet.indexOf('timesheetstatus') < 0"
				id="{{'chart' + $index}}"
				data="overview.data"
				margin="{left:100,bottom:20,top:20}"
				height="300"
				showXAxis="true"
				showYAxis="true"
				interactive="true"
				color="colorFunction()"
				legendColor="colorFunction()"
				showLegend="{{overview.data.length > 1 ? true : false}}"
				showValues="true"
				stacked="true"
				>
			</nvd3-multi-bar-horizontal-chart>
            <nvd3-multi-bar-horizontal-chart
                ng-if=" dataSet.indexOf('timesheetstatus') >= 0"
                id="{{'chart' + $index}}"
                data="overview.data"
                margin="{left:100,bottom:20,top:20}"
                height="300"
                showXAxis="true"
                showYAxis="true"
                interactive="true"
                color="colorFunction()"
                legendColor="colorFunction()"
                yAxisTickFormat="yAxisTimesheetFormatFunction()"
                showLegend="{{overview.data.length > 1 ? true : false}}"
                showValues="true"
                stacked="true"
                >
            </nvd3-multi-bar-horizontal-chart>
		</div>
	</div>
	<div class="pane-right">
		<div class="chart" ng-if="dataId === undefined">
			<p>Click on one of the bar on the left to see the breakdown</p>
		</div>

		<div class="chart" ng-if="breakdownCharts.length >= 1">
			<p>for {{dataId}}</p>
			<div ng-repeat="chart in breakdownCharts">
				<h2 class="chart-title">{{chart.title}}</a></h2>
				<nvd3-multi-bar-horizontal-chart
					id="{{'chart' + $index}}"
                    ng-if="dataSet.indexOf('timesheetstatus-') < 0"
					data="chart.data"
					margin="{left:100,bottom:20,top:20}"
					height="{{getHeight(chart)}}"
					showXAxis="true"
					showYAxis="true"
					interactive="true"
					showValues="true"
					stacked="true"
					showLegend="true"
					color="colorFunction()"
					legendColor="colorFunction()"
					>
				</nvd3-multi-bar-horizontal-chart>
                <nvd3-multi-bar-horizontal-chart
                    id="{{'chart' + $index}}"
                    ng-if="dataSet.indexOf('timesheetstatus-') >= 0"
                    data="chart.data"
                    margin="{left:100,bottom:20,top:20}"
                    height="{{getHeight(chart)}}"
                    showXAxis="true"
                    showYAxis="true"
                    interactive="true"
                    showValues="true"
                    stacked="true"
                    showLegend="true"
                    yAxisTickFormat="yAxisTimesheetFormatFunction()"
                    color="colorFunction()"
                    legendColor="colorFunction()"
                    >
                </nvd3-multi-bar-horizontal-chart>
			</div>
		</div>
	</div>
</div>


<!--

-->
