<section>
	<h1>Time spent</h1>
</section>

<ul class="dashboardNavigation">
  <li><a href="#/dashboard" class="selected">Overview</a></li>
  <li><a href="#/charts/teams">Per Team</a></li>
  <li><a href="#/charts/customers">Per Customer</a></li>
  <li><a href="#/charts/devphases">Per Development Phase</a></li>
  <li><a href="#/charts/projects">Per Project</a></li>
</ul>

<div class="chart" ng-repeat="(itemIdx, item) in totals" id="{{item.id}}">
  <h2 class="chart-title">{{item.title + ' ' + item.titleLink}}</a></h2>
  <nvd3-multi-bar-horizontal-chart
        ng-if="item.chart.data[0].values.length >= 5"
        data="item.chart.data"
        id="{{item.chart.key + itemIdx}}"
        margin="{left:100,bottom:20,top:20}"
        height="300"
        showXAxis="true"
        showYAxis="true"
        interactive="true"
        showLegend="{{item.chart.data.length > 1 ? true : false}}"
        stacked="true"
        color="colorFunction()"
        legendColor="colorFunction()"
        >
    </nvd3-multi-bar-horizontal-chart>


  <nvd3-multi-bar-chart
        ng-if="item.chart.data[0].values.length < 5"
        data="item.chart.data"
        id="{{item.chart.key + itemIdx}}"
        margin="{left:40, bottom:20,top:20}"
        height="300"
        showXAxis="true"
        showYAxis="true"
        interactive="true"
        showLegend="{{item.chart.data.length > 1 ? true : false}}"
        stacked="true"
        color="colorFunction()"
        legendColor="colorFunction()"
        >
    </nvd3-multi-bar-chart>
</div>

<section>
	<h1>Working Time</h1>
</section>

<div class="chart" id="{{workingtime.id}}">
<h2 class="chart-title">{{workingtime.title + ' ' + workingtime.titleLink}}</a></h2>
<nvd3-multi-bar-horizontal-chart
      data="workingtime.chart.data"
      id="{{workingtime.chart.key}}"
      margin="{bottom:20,top:20}"
      height="300"
      showXAxis="true"
      showYAxis="true"
      interactive="true"
      showLegend="{{workingtime.chart.data.length > 1 ? true : false}}"
      stacked="true"
      color="colorFunction()"
      legendColor="colorFunction()"
      >
  </nvd3-multi-bar-horizontal-chart>
</div>

<section>
	<h1>Timesheet status</h1>
</section>

<div class="chart" id="{{timesheetstatus.id}}">
  <h2 class="chart-title">{{timesheetstatus.title + ' ' + timesheetstatus.titleLink}}</a></h2>
  <nvd3-multi-bar-horizontal-chart
        data="timesheetstatus.chart.data"
        id="{{timesheetstatus.chart.key}}"
        margin="{bottom:20,top:20}"
        height="300"
        showXAxis="true"
        showYAxis="true"
        yAxisTickFormat="yAxisFormatFunction()"
        interactive="true"
        showLegend="{{timesheetstatus.chart.data.length > 1 ? true : false}}"
        stacked="true"
        color="colorFunction()"
        legendColor="colorFunction()"
        >
    </nvd3-multi-bar-horizontal-chart>
</div>