<table id="tasks" class="table">
	<thead>
		<tr>
			<th><input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()"></th>
			<th><a href="" ng-click="predicate = 'type'; reverse=!reverse">Task</a></th>
			<th><a href="" ng-click="predicate = ['project', 'task', 'devphase', 'ticket']; reverse=!reverse">Description</a></th>
			<th><a href="" ng-click="predicate = 'validUntil'; reverse=!reverse">Expiration Date</a></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(key, task) in tasks | taskFilter | orderBy:predicate:reverse" >
			<td><input type="checkbox" ng-click="updateSelection($event, key)" ng-checked="isSelected(key)"></td>
			<td>{{task.type}}</td>
			<td ng-if="task.typeId===0">{{task.project + ' / ' + task.generic}}</td>
			<td ng-if="task.typeId===1">{{task.generic}}</td>
			<td ng-if="task.typeId===2">{{task.project + ' / ' + task.devphase + ' / ' + task.ticket}}</td>
			<td ng-if="task.typeId===3">{{task.team + ' - ' + task.devphase}}</td>
			<td>{{task.validUntil}}</td>
		</tr>
	</tbody>
</table>