<table id="userList" class="table">
	<tr>
		<th>Name</th>
		<th>Street</th>
		<th>Address</th>
		<th>City</th>
		<th>Phone</th>
		<th>Date of birth</th>
		<th>Email</th>
	</tr>
	<tr ng-repeat="user in users">
		<td class="userName">{{user.name}}</td>
		<td class="userStreet">{{user.street}}</td>
		<td class="userAddress">{{user.address}}</td>
		<td class="userCity">{{user.city}}</td>
		<td class="userPhone">{{user.phone}}</td>
		<td class="userBirthday">{{user.birthday}}</td>
		<td class="userEmail"><a href="mailto:{{user.email}}">{{user.email}}</a></td>
	</tr>
</table>