<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/fullcalendar/fullcalendar.css" />
	<link rel="stylesheet" href="bower_components/nvd3/src/nv.d3.css" />
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
	<link
		href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'
		rel='stylesheet' type='text/css'>
</head>
<body ng-app="symbol3App">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
	your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container-fluid" ng-controller="MainCtrl">
	<!-- header -->
	<!-- <s3Header></s3Header> -->
	<header id="header" class="item-center">
		<section class="left">
			<button id='menuToggle'>
				<span class="glyphicon glyphicon-align-justify"></span>
			</button>
			<!--<div class="logo">symbol<span>3</span></div>-->
			<div class="logo"></div>
		</section>
		<section class="center">
			<!--<div class="logo">symbol<span>3</span></div>-->
			<div class="logo"></div>
			<div id="search" ng-class="isMobile">
				<form>
					<span class="glyphicon glyphicon-search"></span>
					<input type="search" placeholder="search for profiles, tasks or dates...">
					<span>&times;</span>
				</form>
			</div>
		</section>
		<section class="right">
			<button id='searchToggle'>
				<span class="glyphicon glyphicon-search"></span>
			</button>
			<button id='toolsToggle'>
				<span class="glyphicon glyphicon-wrench"></span>
			</button>
			<div id="user">
				<img src="images/user.jpg" alt="">

				<p>Tracy Livia</p>
				<button>
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
			</div>
		</section>
	</header>
	<!-- END header -->

	<!-- menu -->
	<!-- <s3Menu></s3Menu> -->
	<section id="menu" class="menu-closed" ng-controller="MenuCtrl">
		<ul>
			<li ng-repeat="item in menuItems">
				<a href="{{item.url}}">
					<span class="{{item.icon}}"></span>
					<span class="menuItem">{{item.label}}</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- END menu -->

	<!-- tools -->
	<!-- <s3Tools></s3Tools> -->
	<section id="tools" class="tools-closed" ng-controller="ToolsCtrl">
		<ul>
			<li ng-repeat="item in toolsItems">
				<a href="" ng-click="item.onclick()">
					<span class="{{item.icon}}"></span>
					<span class="toolsItem">{{item.label}}</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- END tools -->

	<!-- content -->
	<article id="content" class="item-center" ng-view></article>
	<!-- END content -->

</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-XXXXX-X');
	ga('send', 'pageview');
</script>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script src="bower_components/fullcalendar/fullcalendar.js"></script>
<script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script src="bower_components/nvd3/nv.d3.js"></script>
<script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
<script src="bower_components/chance/chance.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->
<!-- endbuild -->
	
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>

<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/animation.js"></script>
<script src="scripts/controllers/graph.js"></script>
<script src="scripts/controllers/menu.js"></script>
<script src="scripts/controllers/tools.js"></script>
<script src="scripts/controllers/dashboard.js"></script>
<script src="scripts/controllers/chart.js"></script>
<script src="scripts/controllers/calendar.js"></script>
<script src="scripts/controllers/userDetails.js"></script>
<script src="scripts/controllers/userList.js"></script>
<script src="scripts/controllers/userDetails.js"></script>
<script src="scripts/controllers/userList.js"></script>
<script src="scripts/controllers/tasks.js"></script>

<script src="scripts/directives/header.js"></script>
<script src="scripts/directives/menu.js"></script>
<script src="scripts/directives/tools.js"></script>

<script src="scripts/filters/taskfilter.js"></script>

<script src="scripts/services/chartservice.js"></script>
<script src="scripts/services/toolsservice.js"></script>
<script src="scripts/services/taskservice.js"></script>
<script src="scripts/services/timesheetservice.js"></script>
<!-- endbuild -->

</body>

</html>
