<div class="modal-header">
	<h3>New Task</h3>
	<alert ng-hide="alert === undefined" type="alert.type">{{alert.msg}}</alert>
</div>
<form name="form" class="css-form" novalidate>
	<div class="modal-body">

		<label ng-if="wizardState === 1">Please select your entry type:</label>
		<select ng-if="wizardState === 1" ng-model="task.type" ng-options="type.name for type in entryTypes" required></select>

		<div ng-if="wizardState === 2" ng-repeat="field in task.type.fields">
			<label>{{field.label}}*</label>
			<input ng-model="field.value" ng-if="field.type == 'text'" type="field.type" placeholder="{{field.placeholder}}" required/>
			<select ng-model="field.value" ng-if="field.type == 'select'" ng-options="value for value in field.values"></select>
		</div>

		<div ng-if="wizardState === 2">
			<label>Expiration Date</label>
			<input ng-model="task.validUntil" type="date"/>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-if="wizardState === 1" ng-click="next(task)">Next</button>
		<button class="btn btn-default" ng-if="wizardState > 1" ng-click="previous()">Previous</button>
		<button class="btn btn-primary" ng-disabled="form.$invalid" ng-if="wizardState === 2" ng-click="save(task)">Save
		</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</form>

