<div class="modal-header">
    <h3>New Record</h3>
    <alert ng-hide="alert === undefined" type="alert.type">{{alert.msg}}</alert>
</div>
<form name="form" class="css-form" novalidate>

    <div class="modal-body" ng-if="wizardState === 0">
        <p>Select the type of time record you which to insert</p>
        <div>
            <label>My Tasks</label>
            <ul>
                <li ng-repeat="value in favoriteTasks">
                    <a ng-href="" ng-click="selectFavorite(value[0])">{{value[1]}}</a>
                </li>
            </ul>
        </div>
        <div>
            <label>Leaves</label>
            <ul>
                <li ng-repeat="(key, value) in leaveTypes">
                    <a ng-href="" ng-click="selectLeave(key)">{{value}}</a>
                </li>
            </ul>
        </div>
        <div>
	          <label>Other</label>
	        <ul>
		        <li><a ng-href="" ng-click="insertNew()">Insert New</a></li>
	        </ul>
        </div>
    </div>

    <div class="modal-body" ng-if="wizardState === 1">
        <h1>{{record.entryType.name}}</h1>
        <div ng-repeat="field in record.entryType.fields">
            <label>{{field.label}}</label>
            <p>{{task[field.id]}}</p>
        </div>
        <!--<hr>-->
        <div>
            <label>Start</label><input type="datetime-local" ng-model="record.start" required/>
        </div>
        <div>
            <label>End</label><input type="datetime-local" ng-model="record.end" required/>
        </div>
        <div>
            <label>Pause</label><input type="time" ng-model="record.pause"/>
        </div>
    </div>

    <div class="modal-body" ng-if="wizardState === 2">
        <h1>{{leaveTypes[record.type]}}</h1>
        <div>
            <label>Start</label><input type="date" ng-model="record.start" required/>
        </div>
        <div>
            <label>End</label><input type="date" ng-model="record.end" required/>
        </div>
    </div>

    <div class="modal-body" ng-if="wizardState === 3">
        <label>Please select your entry type:</label>
        <select ng-model="record.entryType" ng-options="type.name for type in entryTypes" required></select>
    </div>

    <div class="modal-body" ng-if="wizardState === 4">
        <div ng-repeat="field in record.entryType.fields">
            <label>{{field.label}}</label>
            <input ng-model="record.fields[field.id]" ng-if="field.type == 'text'" type="field.type" placeholder="{{field.placeholder}}" required/>
            <select ng-model="record.fields[field.id]" ng-if="field.type == 'select'" ng-options="value for value in field.values"></select>
        </div>
        <div>
            <label>Start</label><input type="datetime-local" ng-model="record.start" required/>
        </div>
        <div>
            <label>End</label><input type="datetime-local" ng-model="record.end" required/>
        </div>
        <div>
            <label>Pause</label><input type="time" ng-model="record.pause" required/>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-if="wizardState != 0" ng-click="previous()">Previous</button>
        <button class="btn btn-primary" ng-if="wizardState === 3" ng-click="next()">Next</button>
        <button class="btn btn-primary" ng-click="saveWork()" ng-disabled="form.$invalid" ng-if="wizardState === 1">Save</button>
        <button class="btn btn-primary" ng-click="saveLeave()" ng-disabled="form.$invalid" ng-if="wizardState === 2">Save</button>
        <button class="btn btn-primary" ng-click="saveNew()" ng-disabled="form.$invalid" ng-if="wizardState === 4">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>

